@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column; /*flex-direction: column on body and flex: 1 on content to push footer down*/
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0; /* light grey background for the bar */
  padding: 16px;        
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #666666; /* grey text */
}

a:hover {
  color: #333333;  /* slightly darker on hover */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /*flex-direction: column on body and flex: 1 on content to push footer down*/
  gap: 16px;
}

img {
  width: 600px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;

}

button:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0; /* light grey background for the bar */
  padding: 16px;        
}